label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    background-color: #c9c9c9;
    border: 1px solid green;
    border-radius: 15px;
}

form > div {
    padding: 20px;
    border: 1px solid #4d4d4d;
}



