
h1, h2, h3, h4 {
    margin-top: 0;
}

h1 {
    font-size: 40pt;
    color: #0000FF;
}

p.info {
    font-family: Arial;
    font-size: 18pt;
}

#codigo {
    border-color: #c6c6c6;
    color: yellow;
    border-style: solid;
    border-radius: 15px;
}

a {
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: red;
    font-weight: bold;
}

a:active {
    background-color: green;
    color: black;

}

a:link {
    text-decoration: underline;
    color: orange;
}

a:visited {
    background-color: #c9c9c9;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.flex div {
    background-color: blue;
    width: 200px;
    margin: 20px;
    line-height: 100px;
    text-align: center;
    border-radius: 20px;
}