
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    margin: 1em;
}

.pageback-link {
    padding-top: 1em;
}